body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo{
  width: 200px;
}

h1 {
  font-size: 5rem;
  color: #0073CF;
  font-family: 'Courgette', cursive;
}

footer {
  text-align: right;
  color: midnightblue;
  font-family: 'Courgette', cursive;

}

.card img {
  width: 200px;
  float: left;
}

.card-title {
  color: #E32636;
  font-family: 'Courgette', cursive;
  font-size: 2.5rem;
}

.card-text {
  color: #1D2951;
  font-size: 1.5rem;
}

.left{
  float: left;
}

.right {
  float: right;
}

.card{
  margin-bottom: 100px;
  width: 47%;
}

@media (max-width: 1300px) {
.logo {
  width: 150px;
}

h1 {
  font-size: 3rem;
}

.card img {
  width: 30%;
}

.card{
width:100%}

.card-title {
font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

}
